body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  margin-top: 20vmin;
  color: rgb(176, 0, 0);
  background-color: rgb(194, 194, 194);
}
	
li {
  list-style: none;
}